{% extends 'base.html' %}
{% load cache %}
{% block style %}
  #slug_style {
    border-color: #8FA2CA;
    border-width: thin;
    border-style: dotted;
    border-radius: 0 0 10px 10px;
    padding: 10px;
  }
{% endblock %}
{% block title %} {{ 'Последние обновления в ваших подписках' }} {% endblock %}
{% cache 20 index_page %}
{% block content %}
  <div class="container py-3">

    <h1>Последние обновления в ваших подписках</h1>
    {% if user.follower.count == 1 %}
      <h5>Вы подписаны на {{ user.follower.count }} пользователя</h5><hr>
    {% else %}
      <h5>Вы подписаны на {{ user.follower.count }} пользователей</h5><hr>
    {% endif %}

    {% include 'includes/switcher.html' with follow=True %}
      {% for post in page_obj %}
        {% include 'includes/post.html' with show_profile_link=True show_group_link=True %}
      {% endfor %}

  </div> 
  {% include 'includes/paginator.html' %} 
{% endblock %}
{% endcache %}